################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tanvir.BookStore_Test/.vs/Tanvir.BookStore_Test
/Tanvir.BookStore_Test/Tanvir.BookStore_Test/bin/Debug/netcoreapp3.1
/Tanvir.BookStore_Test/Tanvir.BookStore_Test/obj
